@model Kohanski_Ryan_HW3.Models.CateringOrder

@{
    ViewData["Title"] = "CateringTotals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CateringTotals</h1>

<div>
    <h4>Catering Order Totals</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customerType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreferredCustomer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTacos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTacos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSandwiches)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSandwiches)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalItems)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TacoSubtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TacoSubtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SandwichSubtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SandwichSubtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Start a New Order</a>
</div>
