@model sp20team13finalproject.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlightID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
