@model Kohanski_Ryan_HW6.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierPhoneNumber)
        </dd>
    </dl>
</div>
<table class="table table-sm table-primary">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (ProductSupplier ps in Model.ProductSuppliers)
    {
        <tr>
            <!-- no more right -->
            <td>@Html.DisplayFor(modelItem => ps.Product.ProductName)</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupplierID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
